# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cinema.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maksim.Ruksha\source\repos\Cinema-intern\.idea\.idea.Cinema\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
